{% sw_extends '@Storefront/storefront/utilities/alert.html.twig' %}

{% block utilities_alert_content_container %}
    <div class="alert-content-container ms-3">
        {{ parent() }}
    </div>
{% endblock %}

{% block utilities_alert_content %}
    {% if list|length > 1 %}
        <ul class="alert-list">
            {% for entry in list %}
                <li>{{ entry|sw_sanitize }}</li>
            {% endfor %}
        </ul>
    {% elseif list|length == 1 %}
        {% for entry in list %}
            {{ entry|sw_sanitize }}
        {% endfor %}
    {% else %}
        <div class="alert-content">
            <span>{{ content|sw_sanitize }}</span>

            {% if subContent is defined and subContent %}
                <span class="subContent">{{ subContent|sw_sanitize }}</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
