{% sw_extends '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}

{% block component_line_item_quantity_inner %}
    {# removed: <div class="row line-item-quantity-row"> #}

    {# removed: label output #}
    {% block component_line_item_quantity_label %}{% endblock %}

    {% block component_line_item_quantity_select_wrapper %}
        <div class="line-item-quantity-select-wrapper">

            {% if showQuantitySelect and lineItem.quantityInformation and lineItem.stackable and nestingLevel < 1 %}
                {% block component_line_item_quantity_select_form %}
                    {% set autoSubmitOptions = {
                        delayChangeEvent: 800,
                        autoFocus: false,
                    } %}

                    <form action="{{ formAction }}"
                          class="line-item-quantity-container {% if isDigital %}disabled{% endif %}"
                          method="post"
                            {% if displayMode == 'default' %}
                                data-form-auto-submit="true"
                                data-form-auto-submit-options="{{ autoSubmitOptions|json_encode }}"
                            {% endif %}
                    >
                        {{ parent() }}
                    </form>
                {% endblock %}
            {% else %}
                {{ parent() }}
            {% endif %}
        </div>
    {% endblock %}

    {# removed: closing </div> for the row wrapper #}
{% endblock %}

{# Only change the bits inside the selector UI #}
{% block component_line_item_quantity_select_input %}
    <legend class="form-label visually-hidden">
        {{ 'component.product.quantitySelect.legend'|trans|striptags }}
    </legend>

    {% set quantitySelectorOptions = {
        ariaLiveUpdateMode: 'onload',
    } %}

    <div
            id="line-item-quantity-group-{{ lineItem.id }}"
            class="input-group line-item-quantity-group quantity-selector-group"
            data-quantity-selector="true"
            data-quantity-selector-options="{{ quantitySelectorOptions|json_encode }}"
    >
        <button
                {% if isDigital %}disabled="disabled"{% endif %}
                type="button"
                class="py-0 btn btn-outline-light btn-minus js-btn-minus"
                aria-label="{{ 'component.product.quantitySelect.decreaseOfProduct'|trans({ '%product%': lineItem.label })|striptags }}"
                data-focus-id="line-item-{{ displayMode }}-quantity-down-{{ lineItem.id }}"
        >
            {% sw_icon 'minus' %}
        </button>

        <input
                {% if isDigital %}disabled="disabled"{% endif %}
                type="number"
                name="quantity"
                class="js-quantity-selector quantity-selector-group-input quantity-input-{{ lineItem.id }}{% if displayMode === 'offcanvas' %} js-offcanvas-cart-change-quantity-number{% endif %}"
                min="{{ quantityInformation.minPurchase }}"
                max="{{ maxQuantity }}"
                step="{{ quantityInformation.purchaseSteps }}"
                value="{{ lineItem.quantity }}"
                aria-label="{{ 'component.product.quantitySelect.labelWithProduct'|trans({ '%product%': lineItem.label })|striptags }}"
                data-focus-id="line-item-{{ displayMode }}-quantity-{{ lineItem.id }}"
        />

        <button
                {% if isDigital %}disabled="disabled"{% endif %}
                type="button"
                class="py-0 btn btn-outline-light btn-plus js-btn-plus"
                aria-label="{{ 'component.product.quantitySelect.increaseOfProduct'|trans({ '%product%': lineItem.label })|striptags }}"
                data-focus-id="line-item-{{ displayMode }}-quantity-up-{{ lineItem.id }}"
        >
            {% sw_icon 'plus' %}
        </button>
    </div>

    {% block component_line_item_quantity_select_live_area %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
