{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block utilities_offcanvas_meta %}
    {% set isAjaxOffcanvas = true %}

    {{ parent() }}
{% endblock %}

{% block utilities_offcanvas_close_text %}
    {{ 'checkout.continueShopping'|trans|sw_sanitize }}
{% endblock %}

{% block utilities_offcanvas_close_icon %}
    {% sw_icon 'arrow-head-left' style { size: 'sm' } %}
{% endblock %}

{% block utilities_offcanvas_content %}
    {% block component_offcanvas_cart %}
        {% set isCartNotEmpty = (page.cart.lineItems|length > 0) %}

        <div class="offcanvas-cart">

            {# Header + Item Counter #}
            {% block component_offcanvas_cart_header %}
                <div class="row align-items-center offcanvas-cart-header">
                    {# Item Counter #}
                    {% set checkoutItemCounter = page.cart.lineItems|length %}
                    {% block component_offcanvas_cart_header_item_counter %}
                            <div class="col-auto position-relative">
                                <small class="offcanvas-cart-header-count">
                                    {% sw_icon 'bag'%}

                                    {% if isCartNotEmpty %}
                                        <span class="badge checkout-cart">
                                            {#  {{- 'checkout.itemCounter'|trans({'%count%': checkoutItemCounter})|sw_sanitize -}}#}
                                            {{ checkoutItemCounter }}
                                        </span>
                                    {% endif %}
                                </small>
                            </div>
                    {% endblock %}


                    <div class="col {% if not isCartNotEmpty %}p-0{% endif %}">
                        {% if isCartNotEmpty %}
                            <a href="{{ path('frontend.checkout.cart.page') }}"
                               class="link-underline-black title"
                               data-id="off-canvas-headline"
                               title="{{ 'checkout.proceedToCart'|trans|striptags }}">
                                {{- 'checkout.cartHeader'|trans|sw_sanitize -}}
                            </a>
                        {% else %}
                            <span class="cart-header">
                                {{- 'checkout.cartHeader'|trans|sw_sanitize -}}
                            </span>
                        {% endif %}
                    </div>


                </div>
            {% endblock %}

            <div>
                {# Motivation progress bar (storefront-only, values hardcoded for now) #}
                {% set currentTotal = page.cart.price.totalPrice ?? 0 %}

                {# Goals (we’ll make these configurable in Admin later) #}
                {% set goals = [
                    { key: 'freeShipping', amount: 50, label: 'Free shipping', icon: 'truck' },
                    { key: 'discount10', amount: 100, label: '10% discount', icon: 'percent' }
                ] %}

                {% set maxGoal = goals|last.amount %}
                {% set progressPct = maxGoal > 0 ? ((currentTotal / maxGoal) * 100) : 0 %}
                {% set progressPct = progressPct > 100 ? 100 : progressPct %}

                {# Find next goal #}
                {% set nextGoal = null %}
                {% for g in goals %}
                    {% if currentTotal < g.amount and nextGoal is null %}
                        {% set nextGoal = g %}
                    {% endif %}
                {% endfor %}

                {% if nextGoal %}
                    {% set remaining = nextGoal.amount - currentTotal %}
                    {% set headlineText = 'You only need %amount% for %label%!' %}
                    {% set headlineText = headlineText|replace({
                        '%amount%': remaining|currency,
                        '%label%': nextGoal.label
                    }) %}
                {% else %}
                    {% set headlineText = 'Nice! You unlocked all rewards 🎉' %}
                {% endif %}

                <div class="mpb"
                     data-motivation-progress="true"
                     data-current="{{ currentTotal }}"
                     data-max="{{ maxGoal }}"
                     data-progress="{{ progressPct }}">

                    <div class="mpb__trackWrap">
                        <div class="mpb__track">
                            <div class="mpb__fill" style="width: {{ progressPct }}%"></div>
                        </div>

                        {# Tooltip that rides on the progress #}
                        <div class="mpb__tooltip" aria-hidden="true">
                            <span class="mpb__tooltipText">
                                {% if nextGoal %}
                                    {{ nextGoal.label }}
                                {% else %}
                                    All rewards
                                {% endif %}
                            </span>
                            <span class="mpb__tooltipArrow"></span>
                        </div>

                        {# Goal circles #}
                        {% for g in goals %}
                            {% set gPct = maxGoal > 0 ? ((g.amount / maxGoal) * 100) : 0 %}
                            {% set reached = currentTotal >= g.amount %}

                            <button type="button"
                                    class="mpb__milestone {{ reached ? 'is-reached' : '' }}"
                                    style="left: {{ gPct }}%;"
                                    data-mpb-milestone="true"
                                    data-amount="{{ g.amount }}"
                                    data-label="{{ g.label }}"
                                    aria-label="{{ g.label }} at {{ g.amount|currency }}">
                                <span class="mpb__milestoneDot"></span>
                            </button>
                        {% endfor %}
                    </div>

                        <div class="mpb__message">
                            {{ headlineText }}
                        </div>
                </div>
            </div>

            <div class="motivation-bar">
                <div>
                    <div class="progress-bar"></div>
                </div>

                <div>
                    Message will be here
                </div>

            </div>


            {% block component_offcanvas_cart_flashbags %}
            {% endblock %}

            {% if isCartNotEmpty %}
                {% block component_offcanvas_cart_items %}
                    <ul class="offcanvas-cart-items list-unstyled">
                        {% for lineItem in page.cart.lineItems %}
                            {% block component_offcanvas_cart_item %}
                                {% sw_include '@Storefront/storefront/component/line-item/line-item.html.twig' with {
                                    displayMode: 'offcanvas',
                                    redirectTo: 'frontend.cart.offcanvas'
                                } %}
                            {% endblock %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% else %}
                <div class="offcanvas-cart-empty-wrapper">
                    {% block component_offcanvas_cart_empty %}
                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                            type: 'info',
                            content: 'checkout.emptyCart'|trans|sw_sanitize,
                            subContent: 'checkout.emptyCartSubtext'|trans|sw_sanitize
                        } %}
                    {% endblock %}

                    {% block component_offcanvas_cart_suggestion %}
                        <div class="offcanvas-cart-suggestions">

                            {% set bagsLink = theme_config('offcanvas-bags-link') %}
                            {% set bagsImage = theme_config('offcanvas-bags-image') %}
                            {% set bagsTitle = theme_config('offcanvas-bags-title') %}
                            {% set bagsDescription = theme_config('offcanvas-bags-description') %}
                            {% set bagsEnabled = theme_config('offcanvas-bags-enabled') %}

                            {% set accessoriesLink = theme_config('offcanvas-accessories-link') %}
                            {% set accessoriesImage = theme_config('offcanvas-accessories-image') %}
                            {% set accessoriesTitle = theme_config('offcanvas-accessories-title') %}
                            {% set accessoriesDescription = theme_config('offcanvas-accessories-description') %}
                            {% set accessoriesEnabled = theme_config('offcanvas-accessories-enabled') %}

                            {% if bagsEnabled and bagsLink %}
                                {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-suggestion.html.twig' with {
                                    title: bagsTitle,
                                    description: bagsDescription,
                                    link: bagsLink,
                                    image: bagsImage
                                } %}
                            {% endif %}

                            {% if accessoriesEnabled and accessoriesLink %}
                                {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-suggestion.html.twig' with {
                                    title: accessoriesTitle,
                                    description: accessoriesDescription,
                                    link: accessoriesLink,
                                    image: accessoriesImage
                                } %}
                            {% endif %}

                        </div>
                    {% endblock %}
                </div>
            {% endif %}

            {% if isCartNotEmpty %}
                {% block component_offcanvas_summary %}
                    {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}
                {% endblock %}
            {% endif %}

            {% block component_offcanvas_cart_actions %}
                <div class="offcanvas-cart-actions">
                    {% block component_offcanvas_cart_actions_promotion %}
                        {% if isCartNotEmpty %}
                            <div class="js-offcanvas-cart-promotion">
                                {% block component_offcanvas_cart_actions_promotion_form %}
                                    <form action="{{ path('frontend.checkout.promotion.add') }}"
                                          class="offcanvas-cart-promotion-form js-offcanvas-cart-add-promotion"
                                          method="post">
                                        {% block component_offcanvas_cart_actions_promotion_redirect %}
                                            <input type="hidden"
                                                   name="redirectTo"
                                                   value="frontend.cart.offcanvas">
                                        {% endblock %}

                                        {% block component_offcanvas_cart_actions_promotion_label %}
                                            <label class="mb-1" for="addPromotionOffcanvasCartInput">
                                                {{ 'checkout.addPromotionLabel'|trans|sw_sanitize }}
                                            </label>
                                        {% endblock %}

                                        {% block component_offcanvas_cart_actions_promotion_input_group %}
                                            <div class="input-group">
                                                {% block component_offcanvas_cart_actions_promotion_input %}
                                                    <input type="text"
                                                           name="code"
                                                           class="form-control"
                                                           placeholder="{{ 'checkout.addPromotionPlaceholder'|trans|striptags }}"
                                                           id="addPromotionOffcanvasCartInput"
                                                           aria-label="{{ 'checkout.addPromotionLabel'|trans|striptags }}"
                                                           aria-describedby="addPromotionOffcanvasCart"
                                                           required="required"
                                                           aria-invalid="false">
                                                {% endblock %}

                                                {% block component_offcanvas_cart_actions_promotion_submit %}
                                                    <button class="btn btn-outline-secondary offcanvas-cart-promotion-button"
                                                            type="submit"
                                                            id="addPromotionOffcanvasCart"
                                                            aria-labelledby="addPromotionOffcanvasCartInput">
                                                        {% sw_icon 'checkmark' %}
                                                    </button>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </form>
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    {# Checkout Button #}
                    {% block component_offcanvas_cart_actions_checkout %}
                        {% if isCartNotEmpty %}
                            <div class="d-flex align-items-center justify-content-center mb-5">
                                <a href="{{ path('frontend.checkout.confirm.page') }}"
                                   class="btn w-100 begin-checkout-btn{% if isCartNotEmpty %} button-primary{% else %} btn-light disabled{% endif %}"
                                   title="{{ 'checkout.proceedToCheckout'|trans|striptags }}">
                                    {% if isCartNotEmpty %}
                                        {% sw_icon 'cart' style {
                                            color: 'text-white'
                                        } %}
                                    {% endif %}
                                    <span class="ms-2">
                                        {{ 'checkout.proceedToCheckout'|trans|sw_sanitize }}
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% block component_offcanvas_cart_actions_cart %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block component_offcanvas_cart_hidden_line_items_information %}
            {% sw_include '@Storefront/storefront/component/checkout/hidden-line-items-information.html.twig' with {
                cart: page.cart,
                lineItems: page.cart.lineItems
            } %}
        {% endblock %}
    {% endblock %}
{% endblock %}
