{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{# Custom header (headline becomes a link when cart not empty) #}
{% block component_offcanvas_cart_header %}
    {% set isCartNotEmpty = (page.cart.lineItems|length > 0) %}
    {% set checkoutItemCounter = page.cart.lineItems|length %}

    <div class="row align-items-center offcanvas-cart-header">
        {% block component_offcanvas_cart_header_item_counter %}
            <div class="col-auto position-relative">
                <small class="offcanvas-cart-header-count">
                    {% sw_icon 'bag' %}

                    {% if isCartNotEmpty %}
                        <span class="badge checkout-cart">
                            {{ checkoutItemCounter }}
                        </span>
                    {% endif %}
                </small>
            </div>
        {% endblock %}

        <div class="col {% if not isCartNotEmpty %}p-0{% endif %}">
            {% if isCartNotEmpty %}
                <a href="{{ path('frontend.checkout.cart.page') }}"
                   class="link-underline-black title"
                   data-id="off-canvas-headline"
                   title="{{ 'checkout.proceedToCart'|trans|striptags }}">
                    {{- 'checkout.cartHeader'|trans|sw_sanitize -}}
                </a>
            {% else %}
                <span class="cart-header">
                    {{- 'checkout.cartHeader'|trans|sw_sanitize -}}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{# Insert motivation bar and remove flash messages #}
{% block component_offcanvas_cart_flashbags %}
    {% include '@MotivationBarPetarisia/storefront/component/motivation-bar/motivation-bar.html.twig' ignore missing %}
{% endblock %}

{% block component_live_chat %}
    {% include '@LiveChat/storefront/component/live-chat/live-chat.html.twig' ignore missing %}
{% endblock %}

{# If cart is Empty #}
{% block component_offcanvas_cart_empty %}
    <div class="offcanvas-cart-empty-wrapper">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'info',
            content: 'checkout.emptyCart'|trans|sw_sanitize,
            subContent: 'checkout.emptyCartSubtext'|trans|sw_sanitize
        } %}

        {% block component_offcanvas_cart_suggestion %}
            <div class="offcanvas-cart-suggestions">

                {% set bagsLink = theme_config('offcanvas-bags-link') %}
                {% set bagsImage = theme_config('offcanvas-bags-image') %}
                {% set bagsTitle = theme_config('offcanvas-bags-title') %}
                {% set bagsDescription = theme_config('offcanvas-bags-description') %}
                {% set bagsEnabled = theme_config('offcanvas-bags-enabled') %}

                {% set accessoriesLink = theme_config('offcanvas-accessories-link') %}
                {% set accessoriesImage = theme_config('offcanvas-accessories-image') %}
                {% set accessoriesTitle = theme_config('offcanvas-accessories-title') %}
                {% set accessoriesDescription = theme_config('offcanvas-accessories-description') %}
                {% set accessoriesEnabled = theme_config('offcanvas-accessories-enabled') %}

                {% if bagsEnabled and bagsLink %}
                    {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-suggestion.html.twig' with {
                        title: bagsTitle,
                        description: bagsDescription,
                        link: bagsLink,
                        image: bagsImage
                    } %}
                {% endif %}

                {% if accessoriesEnabled and accessoriesLink %}
                    {% sw_include '@Storefront/storefront/component/checkout/offcanvas-cart-suggestion.html.twig' with {
                        title: accessoriesTitle,
                        description: accessoriesDescription,
                        link: accessoriesLink,
                        image: accessoriesImage
                    } %}
                {% endif %}

            </div>
        {% endblock %}
    </div>
{% endblock %}

{# Checkout button: only isCartNotEmpty #}
{% block component_offcanvas_cart_actions_checkout %}
    {% set isCartNotEmpty = (page.cart.lineItems|length > 0) %}

    {% if isCartNotEmpty %}
        <div class="d-flex align-items-center justify-content-center mb-5 text-white">
            <a href="{{ path('frontend.checkout.confirm.page') }}"
               class="btn w-100 begin-checkout-btn button-primary"
               title="{{ 'checkout.proceedToCheckout'|trans|striptags }}">
                <span class="icon-white">
                 {% sw_icon 'cart' style {
                     size: 'sm'
                 }%}
                </span>
                <span class="ms-2">
                    {{ 'checkout.proceedToCheckout'|trans|sw_sanitize }}
                </span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{# Remove "go to cart" btn #}
{% block component_offcanvas_cart_actions_cart %}{% endblock %}
