{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{# Remove the H1 header #}
{% block page_checkout_cart_header %}{% endblock %}

{# Add "add product by number" inside the product table, after the items #}
{% block page_checkout_cart_table_items %}
    {{ parent() }}

    {# add product by number #}
    {% if feature('v6.8.0.0') %}
        {% sw_include '@Storefront/storefront/component/checkout/add-product-by-number.html.twig' %}
    {% else %}
        {# @deprecated tag:v6.8.0 - Block page_checkout_cart_add_product will be moved to add-product-by-number.html.twig #}
        <div class="cart-add-product-container">
            <form action="{{ path('frontend.checkout.product.add-by-number') }}" method="post">
                <input type="hidden" name="redirectTo" value="frontend.checkout.cart.page">

                <label for="addProductInput">
                    {{ 'checkout.addProductLabel'|trans|sw_sanitize }}
                </label>

                <div class="input-group">
                    <input type="text"
                           name="number"
                           class="form-control"
                           id="addProductInput"
                           placeholder="{{ 'checkout.addProductPlaceholder'|trans|striptags }}"
                           aria-label="{{ 'checkout.addProductLabel'|trans|striptags }}"
                           aria-describedby="addProductButton"
                           required="required">

                    <button class="btn btn-outline-secondary add-product-button"
                            type="submit"
                            aria-labelledby="addProductInput"
                            id="addProductButton">
                        {% sw_icon 'checkmark' %}
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
